<config>
    <jars>
        <jar in="dist\org.hzs.server.jar" out="org.hzs.server.jar"/>
    </jars>

    <classpath>
        <jar name="C:\Program Files\Java\jre7\lib\rt.jar"/>
        <jar name="C:\Program Files\Java\jdk1.7\jre\lib\jce.jar"/>
        <jar name="D:\我的文档\NetBeansProjects\引擎\服务端\内核\org.hzs.jar"/>
        <jar name="D:\我的文档\NetBeansProjects\引擎\服务端\内核\org.hzs.json.jar"/>
        <jar name="D:\我的文档\NetBeansProjects\引擎\服务端\内核\org.hzs.lang.jar"/>
        <jar name="D:\我的文档\NetBeansProjects\引擎\服务端\内核\org.hzs.logging.jar"/>
        <jar name="D:\我的文档\NetBeansProjects\引擎\服务端\内核\org.hzs.压缩解压.jar"/>
        <jar name="D:\我的文档\NetBeansProjects\引擎\服务端\内核\org.hzs.安全.jar"/>
        <jar name="D:\我的文档\NetBeansProjects\引擎\服务端\system\数据库\postgresql-9.3-1101.jdbc41.jar"/>
        <jar name="C:\Program Files\Java\jdk1.7\jre\lib\ext\org.hzs.编码.jar"/>
    </classpath>

    <keep-names>
        <class template="class org.hzs.server.Property">
			<field template="public d线程池"/>
			<field template="public i數據库口令_s"/>
			<field template="public i數據库用户_s"/>
			<field template="public i數據库连接_s"/>
			<field template="public i數據密钥_byteArray"/>
			<field template="public rsa"/>
			<field template="public i中心端口_i"/>
			<field template="public i集群号_byte"/>
            <method template="public init(*)"/>
        </class>
        <class template="class org.hzs.server.负载均衡.__">
            <method template="public init(*)"/>
        </class>
        <class template="class org.hzs.server.负载均衡.第一层">
            <method template="public init()"/>
        </class>
        <class template="class org.hzs.server.负载均衡.第二层">
            <method template="public init()"/>
			<method template="public 第二层(*,*)"/>
        </class>
        <class template="interface org.hzs.server.业务.__">
            <method template="public g处理请求(*,*)"/>
			<method template="public getSession(*)"/>
			<method template="public removeSession(*)"/>
        </class>
    </keep-names>
</config>
